<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletSabor</servlet-name>
        <servlet-class>controle.ServletSabor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPerfil</servlet-name>
        <servlet-class>controle.ServletPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProduto</servlet-name>
        <servlet-class>controle.ServletProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPessoa</servlet-name>
        <servlet-class>controle.ServletPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCategoria</servlet-name>
        <servlet-class>controle.ServletCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeguranca</servlet-name>
        <servlet-class>controle.ServletSeguranca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teste</servlet-name>
        <servlet-class>controle.teste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPedido</servlet-name>
        <servlet-class>controle.ServletPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProduto</servlet-name>
        <servlet-class>controle.AdicionarProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSabor</servlet-name>
        <url-pattern>/ServletSabor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPerfil</servlet-name>
        <url-pattern>/ServletPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProduto</servlet-name>
        <url-pattern>/ServletProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPessoa</servlet-name>
        <url-pattern>/ServletPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCategoria</servlet-name>
        <url-pattern>/ServletCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeguranca</servlet-name>
        <url-pattern>/ServletSeguranca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPedido</servlet-name>
        <url-pattern>/ServletPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProduto</servlet-name>
        <url-pattern>/AdicionarProduto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/index.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.IllegalStateException</exception-type>
        <location>/index.jsp</location>
    </error-page>
</web-app>
